p {
    color: beige;
}

h1 {
    color: aquamarine;
}

img {
    max-width: 140%;
    max-height: 140%;
}

body {
    background-image: url("crystal_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

span {
    font-size: 2em;
    font-weight: bold;
}

#random-number {
    background-color: lightblue;
    color: red;
    font-size: 3em;
}

.instruction {
    background-color: darkviolet;
}